DATABASE_URL="file:./db/database.db"
JWT_ACCESS_SECRET_KEY="extremely secret"
JWT_EXPIRES_IN="70y"
HOST_EMAIL_ADDRESS="example@gmail.com"
HOST_EMAIL_PASSWORD="actual.email@yahoo.com"
HOST="localhost"
PORT="64"
FRONT_ORIGIN="https://example.com"